apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-app
  labels:
    app: vue-application-deployment-description-long-here
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend-app
  template:
    metadata:
      labels:
        app: frontend-app
    spec:
      containers:
        - name: frontend-app-container
          image: phidinh/vue-app:v1
          env:
            - name: HOSTNAME
              value: "0.0.0.0"
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
