apiVersion: v1
kind: Service
metadata:
  name: client-app-service
spec:
  selector:
    app: frontend-app
  type: NodePort
  ports:
    - name: http
      port: 3000
      protocol: TCP
      targetPort: 80
      nodePort: 30100
