apiVersion: v1
kind: Service
metadata:
  name: backend-app-svc
spec:
  type: NodePort
  selector:
    app: backend-app
  ports:
    - name: http
      port: 8080
      nodePort: 31110
      targetPort: 5000
      protocol: TCP
